<div *ngIf="customer">
  <h2>{{customer.name}} {{customer.surname}}</h2>
  {{customer.id}}
  <div>
    <div *ngFor="let account of customer.accounts">
      <h4>Account</h4>
      {{account.id}}
      <div></div>
      <div>Balance: {{account.balance}} $</div>
      <h6>Transactions</h6>
      <div *ngFor="let transaction of account.transactions">
        {{transaction.id}}
        <div>Message: {{transaction.message}} </div>
        <div>CreateAt: {{transaction.created | date:'dd-MM-yyyy HH:mm:ss'}}</div>
      </div>
    </div>
  </div>
</div>
