<div *ngIf="customer">
  <h2>{{customer.name}} {{customer.surname}}</h2>
  <br>
  <br>
  <div>
    <div *ngFor="let account of customer.accounts">
      <h3>Account: {{account.id}}</h3>
      <p><strong>Balance: </strong>{{account.balance}}</p>
      <div *ngIf="account.transactions.length > 0">
        <h4>Transactions</h4>
        <div *ngFor="let transaction of account.transactions">
          {{transaction.id}}
          <div><strong>Message:</strong> {{transaction.message}} </div>
          <div><strong>Date:</strong> {{transaction.created | date:'dd/MM/yyyy HH:mm:ss'}}</div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
