language: csharp
mono: none
dotnet: 5.0.101
install:
  - dotnet restore
script:
  - dotnet test $TRAVIS_BUILD_DIR/tests/Application.IntegrationTests/Application.IntegrationTests.csproj
  - dotnet test $TRAVIS_BUILD_DIR/tests/Application.UnitTests/Application.UnitTests.csproj
