language: csharp
solution: GreenCrop.sln
mono: none
dotnet: 5.0.101
install:
  - nuget restore GreenCrop.sln
  - nuget install NUnit.Console -Version 3.12.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release GreenCrop.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.12.0/tools/nunit3-console.exe ./tests/Application.IntegrationTests/bin/Release/net5.0/Application.IntegrationTests.dll
  - mono ./testrunner/NUnit.ConsoleRunner.3.12.0/tools/nunit3-console.exe ./tests/Application.UnitTests/bin/Release/net5.0/Application.UnitTests.dll
